img[alt]{
	border: 5px solid blue;
}
/*busca la cadena completa (ruta)*/
img[src="img/LOGO_TEC_PNG_OK.png"]{
	width: 400px;
}
/*Busca al inicio de la cadena*/
img[src^="img/"]{
	width: 150px;
}
/*Busca al final de la cadena*/
img[src$="png"]{
	width: 250px;
}
/*Busca en medio de la cadena*/
img[src*="mg/"]{
	width: 1000px;
}
/*Equivalente a:
.restaltado
.ingles
.archivo*/
article[class~="resaltado"]{
	border: 1px dashed blue;
}
article[class~="ingles"]{
	border: 1px dashed blue;
}
article[class~="archivo"]{
	border: 1px dashed blue;
}

article[class|="ingles"]{
	text-align: center;
}
/*Hijos directos*/
div > p{
	color: blue;
}
/*Todos los hijos*/
div p{
	color: red;
}
/*Toma solo el siguiente de h2*/
h2 + p{
	color: gray;
}
/*Toma todos los p siguientes del h2*/
h2 ~ p{
	color: green;
}
#resumen,#experimento,#pruebas,#resultados,#conclusiones{
	color: red;
}
section:not(#referencias){
	color: blue;
}
/*impares*/
/*n:numero
th:los que sigue del numero*/
li:nth-child(odd){
	color: green;
}
/*pares*/
li:nth-child(even){
	color: blue;
}
/*el quinto elemento de la lista*/
li:nth-child(5){
	color: red;
}
li:nth-last-child(1){
	color:purple;
}